<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of all clients</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div class="container shadow pt-5 bg-light py-5">
    <h3>Клиенты:</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${not #lists.isEmpty(clients)}" th:each="client : ${clients}">
            <td th:text="${client.id}">id</td>
            <td th:text="${client.name}">name</td>
            <td th:text="${client.address.street}">street</td>
            <td th:text="${client.phones}">phones</td>
        </tr>
        <tr th:if="${#lists.isEmpty(clients)}">
            <td colspan="4">Empty list</td>
        </tr>
        <tr>
            <td colspan="4">
                <a th:href="@{/client/create}" href="clientCreate.html" class="btn btn-success">New client</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
